body {
    margin-left: 40px;
    margin-right: 40px;
}

.cabecalho {
    border: 5px solid red;
    border-radius: 20px;
    height: 50px;

}

.logo{
    padding-left: 10px;
    padding-top: 5px;
}

ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 100px;
    
    background-color: red;
   
    border-radius: 10px;


}

li{
    padding-right: 10px;
}
.navegacao{

}